<%- include("header") -%> 

    <div class="content">
        <!-- <div class="back">
            <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 690" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150" ;>
            <style>
                .path-0{
                  animation:pathAnim-0 4s;
                  animation-timing-function: linear;
                  animation-iteration-count: infinite;
                }
                @keyframes pathAnim-0{
                  0%{
                    d: path("M 0,700 C 0,700 0,140 0,140 C 54.27227540500735,123.40555964653902 108.5445508100147,106.81111929307805 176,112 C 243.4554491899853,117.18888070692195 324.0940721649485,144.16108247422682 386,141 C 447.9059278350515,137.83891752577318 491.07916053019153,104.54455081001471 544,111 C 596.9208394698085,117.45544918998529 659.5892857142857,163.6607142857143 719,178 C 778.4107142857143,192.3392857142857 834.5636966126658,174.8125920471281 893,163 C 951.4363033873342,151.1874079528719 1012.1559278350514,145.0889175257732 1072,152 C 1131.8440721649486,158.9110824742268 1190.8125920471284,178.83173784977907 1252,179 C 1313.1874079528716,179.16826215022093 1376.5937039764358,159.58413107511046 1440,140 C 1440,140 1440,700 1440,700 Z");
                  }
                  25%{
                    d: path("M 0,700 C 0,700 0,140 0,140 C 49.1601620029455,158.10254050073638 98.320324005891,176.20508100147276 168,173 C 237.679675994109,169.79491899852724 327.8788659793815,145.28221649484536 391,152 C 454.1211340206185,158.71778350515464 490.1642120765832,196.6660530191458 541,192 C 591.8357879234168,187.3339469808542 657.4642857142857,140.05357142857144 727,123 C 796.5357142857143,105.94642857142856 869.978645066274,119.11966126656847 928,120 C 986.021354933726,120.88033873343153 1028.6211340206185,109.46778350515466 1079,118 C 1129.3788659793815,126.53221649484534 1187.5368188512518,155.00920471281296 1249,162 C 1310.4631811487482,168.99079528718704 1375.231590574374,154.49539764359352 1440,140 C 1440,140 1440,700 1440,700 Z");
                  }
                  50%{
                    d: path("M 0,700 C 0,700 0,140 0,140 C 44.361008836524306,131.38567746686306 88.72201767304861,122.77135493372609 155,140 C 221.2779823269514,157.2286450662739 309.4729381443298,200.30025773195874 371,185 C 432.5270618556702,169.69974226804126 467.38622974963187,96.02761413843888 522,94 C 576.6137702503681,91.97238586156112 650.9821428571429,161.58928571428572 721,167 C 791.0178571428571,172.41071428571428 856.6851988217968,113.61524300441826 909,93 C 961.3148011782032,72.38475699558174 1000.2770618556701,89.94974226804125 1063,98 C 1125.7229381443299,106.05025773195875 1212.206553755523,104.58578792341679 1279,110 C 1345.793446244477,115.41421207658321 1392.8967231222387,127.70710603829161 1440,140 C 1440,140 1440,700 1440,700 Z");
                  }
                  75%{
                    d: path("M 0,700 C 0,700 0,140 0,140 C 64.37518409425626,135.97275405007363 128.7503681885125,131.94550810014726 183,133 C 237.2496318114875,134.05449189985274 281.37371134020617,140.19072164948454 345,145 C 408.62628865979383,149.80927835051546 491.75478645066266,153.2916053019146 554,137 C 616.2452135493373,120.70839469808541 657.607142857143,84.64285714285714 711,93 C 764.392857142857,101.35714285714286 829.8166421207658,154.13696612665683 886,177 C 942.1833578792342,199.86303387334317 989.1262886597938,192.80927835051548 1057,181 C 1124.8737113402062,169.19072164948452 1213.6782032400588,152.6259204712813 1281,145 C 1348.3217967599412,137.3740795287187 1394.1608983799706,138.68703976435935 1440,140 C 1440,140 1440,700 1440,700 Z");
                  }
                  100%{
                    d: path("M 0,700 C 0,700 0,140 0,140 C 54.27227540500735,123.40555964653902 108.5445508100147,106.81111929307805 176,112 C 243.4554491899853,117.18888070692195 324.0940721649485,144.16108247422682 386,141 C 447.9059278350515,137.83891752577318 491.07916053019153,104.54455081001471 544,111 C 596.9208394698085,117.45544918998529 659.5892857142857,163.6607142857143 719,178 C 778.4107142857143,192.3392857142857 834.5636966126658,174.8125920471281 893,163 C 951.4363033873342,151.1874079528719 1012.1559278350514,145.0889175257732 1072,152 C 1131.8440721649486,158.9110824742268 1190.8125920471284,178.83173784977907 1252,179 C 1313.1874079528716,179.16826215022093 1376.5937039764358,159.58413107511046 1440,140 C 1440,140 1440,700 1440,700 Z");
                  }
                }
            </style>
            <defs><linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%"><stop offset="5%" stop-color="#F78DA7"></stop><stop offset="95%" stop-color="#8ED1FC"></stop></linearGradient></defs><path d="M 0,700 C 0,700 0,140 0,140 C 54.27227540500735,123.40555964653902 108.5445508100147,106.81111929307805 176,112 C 243.4554491899853,117.18888070692195 324.0940721649485,144.16108247422682 386,141 C 447.9059278350515,137.83891752577318 491.07916053019153,104.54455081001471 544,111 C 596.9208394698085,117.45544918998529 659.5892857142857,163.6607142857143 719,178 C 778.4107142857143,192.3392857142857 834.5636966126658,174.8125920471281 893,163 C 951.4363033873342,151.1874079528719 1012.1559278350514,145.0889175257732 1072,152 C 1131.8440721649486,158.9110824742268 1190.8125920471284,178.83173784977907 1252,179 C 1313.1874079528716,179.16826215022093 1376.5937039764358,159.58413107511046 1440,140 C 1440,140 1440,700 1440,700 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="0.265" class="transition-all duration-300 ease-in-out delay-150 path-0"></path>
                <style>
                .path-1{
                  animation:pathAnim-1 4s;
                  animation-timing-function: linear;
                  animation-iteration-count: infinite;
                }
                @keyframes pathAnim-1{
                  0%{
                    d: path("M 0,700 C 0,700 0,280 0,280 C 44.8790500736377,266.75662739322536 89.7581001472754,253.5132547864507 153,253 C 216.2418998527246,252.4867452135493 297.84664948453616,264.70360824742266 365,265 C 432.15335051546384,265.29639175257734 484.8553019145803,253.6723122238586 539,252 C 593.1446980854197,250.3276877761414 648.7321428571429,258.60714285714283 710,263 C 771.2678571428571,267.39285714285717 838.2161266568482,267.89911634757 899,269 C 959.7838733431518,270.10088365243 1014.4033505154639,271.7963917525773 1066,267 C 1117.596649484536,262.2036082474227 1166.1704712812962,250.91531664212076 1228,252 C 1289.8295287187038,253.08468335787924 1364.914764359352,266.54234167893964 1440,280 C 1440,280 1440,700 1440,700 Z");
                  }
                  25%{
                    d: path("M 0,700 C 0,700 0,280 0,280 C 71.31940353460973,303.65022091310755 142.63880706921947,327.30044182621504 207,312 C 271.36119293078053,296.69955817378496 328.76417525773195,242.4484536082474 384,240 C 439.23582474226805,237.5515463917526 492.3044918998527,286.90574374079523 545,287 C 597.6955081001473,287.09425625920477 650.0178571428571,237.92857142857147 712,237 C 773.9821428571429,236.07142857142853 845.6240795287188,283.379970544919 908,297 C 970.3759204712812,310.620029455081 1023.4858247422678,290.5515463917526 1083,276 C 1142.5141752577322,261.4484536082474 1208.4326215022093,252.41384388807072 1269,254 C 1329.5673784977907,255.58615611192928 1384.7836892488954,267.79307805596466 1440,280 C 1440,280 1440,700 1440,700 Z");
                  }
                  50%{
                    d: path("M 0,700 C 0,700 0,280 0,280 C 47.60254050073638,304.45360824742266 95.20508100147276,328.90721649484533 152,328 C 208.79491899852724,327.09278350515467 274.78221649484533,300.8247422680413 351,302 C 427.21778350515467,303.1752577319587 513.6660530191458,331.7938144329897 568,319 C 622.3339469808542,306.2061855670103 644.5535714285714,252 687,244 C 729.4464285714286,236 792.1196612665684,274.2061855670103 869,297 C 945.8803387334316,319.7938144329897 1036.9677835051548,327.17525773195877 1097,327 C 1157.0322164948452,326.82474226804123 1186.0092047128128,319.09278350515467 1238,310 C 1289.9907952871872,300.90721649484533 1364.9953976435936,290.45360824742266 1440,280 C 1440,280 1440,700 1440,700 Z");
                  }
                  75%{
                    d: path("M 0,700 C 0,700 0,280 0,280 C 42.5808173784978,258.8781296023564 85.1616347569956,237.7562592047128 154,238 C 222.8383652430044,238.2437407952872 317.93427835051546,259.8530927835052 375,285 C 432.06572164948454,310.1469072164948 451.1012518409425,338.8313696612666 511,326 C 570.8987481590575,313.1686303387334 671.6607142857143,258.82142857142856 747,234 C 822.3392857142857,209.17857142857142 872.2558910162003,213.88291605301913 915,237 C 957.7441089837997,260.11708394698087 993.3157216494847,301.6469072164948 1058,312 C 1122.6842783505153,322.3530927835052 1216.4812223858617,301.5294550810015 1285,291 C 1353.5187776141383,280.4705449189985 1396.7593888070692,280.23527245949924 1440,280 C 1440,280 1440,700 1440,700 Z");
                  }
                  100%{
                    d: path("M 0,700 C 0,700 0,280 0,280 C 44.8790500736377,266.75662739322536 89.7581001472754,253.5132547864507 153,253 C 216.2418998527246,252.4867452135493 297.84664948453616,264.70360824742266 365,265 C 432.15335051546384,265.29639175257734 484.8553019145803,253.6723122238586 539,252 C 593.1446980854197,250.3276877761414 648.7321428571429,258.60714285714283 710,263 C 771.2678571428571,267.39285714285717 838.2161266568482,267.89911634757 899,269 C 959.7838733431518,270.10088365243 1014.4033505154639,271.7963917525773 1066,267 C 1117.596649484536,262.2036082474227 1166.1704712812962,250.91531664212076 1228,252 C 1289.8295287187038,253.08468335787924 1364.914764359352,266.54234167893964 1440,280 C 1440,280 1440,700 1440,700 Z");
                  }
                }
            </style>
            <defs><linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%"><stop offset="5%" stop-color="#F78DA7"></stop><stop offset="95%" stop-color="#8ED1FC"></stop></linearGradient></defs><path d="M 0,700 C 0,700 0,280 0,280 C 44.8790500736377,266.75662739322536 89.7581001472754,253.5132547864507 153,253 C 216.2418998527246,252.4867452135493 297.84664948453616,264.70360824742266 365,265 C 432.15335051546384,265.29639175257734 484.8553019145803,253.6723122238586 539,252 C 593.1446980854197,250.3276877761414 648.7321428571429,258.60714285714283 710,263 C 771.2678571428571,267.39285714285717 838.2161266568482,267.89911634757 899,269 C 959.7838733431518,270.10088365243 1014.4033505154639,271.7963917525773 1066,267 C 1117.596649484536,262.2036082474227 1166.1704712812962,250.91531664212076 1228,252 C 1289.8295287187038,253.08468335787924 1364.914764359352,266.54234167893964 1440,280 C 1440,280 1440,700 1440,700 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="0.4" class="transition-all duration-300 ease-in-out delay-150 path-1"></path>
                <style>
                .path-2{
                  animation:pathAnim-2 4s;
                  animation-timing-function: linear;
                  animation-iteration-count: infinite;
                }
                @keyframes pathAnim-2{
                  0%{
                    d: path("M 0,700 C 0,700 0,420 0,420 C 55.16550073637703,392.8068851251841 110.33100147275405,365.61377025036825 168,373 C 225.66899852724595,380.38622974963175 285.8414948453607,422.3518041237113 341,425 C 396.1585051546393,427.6481958762887 446.30301914580275,390.9790132547865 514,392 C 581.6969808541972,393.0209867452135 666.9464285714284,431.7321428571429 729,442 C 791.0535714285716,452.2678571428571 829.9112665684831,434.09241531664213 876,425 C 922.0887334315169,415.90758468335787 975.4085051546392,415.8981958762887 1047,404 C 1118.5914948453608,392.1018041237113 1208.4547128129602,368.3148011782032 1277,369 C 1345.5452871870398,369.6851988217968 1392.77264359352,394.8425994108984 1440,420 C 1440,420 1440,700 1440,700 Z");
                  }
                  25%{
                    d: path("M 0,700 C 0,700 0,420 0,420 C 68.42341678939617,445.9854565537555 136.84683357879234,471.9709131075111 193,467 C 249.15316642120766,462.0290868924889 293.0360824742268,426.10180412371125 354,424 C 414.9639175257732,421.89819587628875 493.00883652430036,453.62187039764365 559,452 C 624.9911634756996,450.37812960235635 678.9285714285716,415.4107142857142 727,410 C 775.0714285714284,404.5892857142858 817.2768777614139,428.73527245949924 875,448 C 932.7231222385861,467.26472754050076 1005.963917525773,481.6481958762887 1080,467 C 1154.036082474227,452.3518041237113 1228.8674521354935,408.6719440353461 1289,396 C 1349.1325478645065,383.3280559646539 1394.5662739322534,401.66402798232696 1440,420 C 1440,420 1440,700 1440,700 Z");
                  }
                  50%{
                    d: path("M 0,700 C 0,700 0,420 0,420 C 49.45563328424153,402.0386597938144 98.91126656848306,384.0773195876289 162,400 C 225.08873343151694,415.9226804123711 301.8105670103093,465.72938144329896 371,457 C 440.1894329896907,448.27061855670104 501.84646539027983,381.00515463917526 549,380 C 596.1535346097202,378.99484536082474 628.8035714285713,444.24999999999994 687,469 C 745.1964285714287,493.75000000000006 828.9392488954345,477.99484536082474 894,464 C 959.0607511045655,450.00515463917526 1005.4394329896907,437.77061855670104 1068,437 C 1130.5605670103093,436.22938144329896 1209.3030191458029,446.9226804123711 1274,446 C 1338.6969808541971,445.0773195876289 1389.3484904270986,432.5386597938144 1440,420 C 1440,420 1440,700 1440,700 Z");
                  }
                  75%{
                    d: path("M 0,700 C 0,700 0,420 0,420 C 69.35235640648011,417.90132547864505 138.70471281296022,415.80265095729015 199,416 C 259.2952871870398,416.19734904270985 310.5335051546392,418.6907216494845 357,427 C 403.4664948453608,435.3092783505155 445.16126656848303,449.4344624447718 506,446 C 566.838733431517,442.5655375552282 646.8214285714286,421.57142857142856 726,417 C 805.1785714285714,412.42857142857144 883.5530191458026,424.279823269514 932,440 C 980.4469808541974,455.720176730486 998.9664948453608,475.30927835051546 1046,472 C 1093.0335051546392,468.69072164948454 1168.5810014727542,442.4830633284242 1239,430 C 1309.4189985272458,417.5169366715758 1374.709499263623,418.75846833578794 1440,420 C 1440,420 1440,700 1440,700 Z");
                  }
                  100%{
                    d: path("M 0,700 C 0,700 0,420 0,420 C 55.16550073637703,392.8068851251841 110.33100147275405,365.61377025036825 168,373 C 225.66899852724595,380.38622974963175 285.8414948453607,422.3518041237113 341,425 C 396.1585051546393,427.6481958762887 446.30301914580275,390.9790132547865 514,392 C 581.6969808541972,393.0209867452135 666.9464285714284,431.7321428571429 729,442 C 791.0535714285716,452.2678571428571 829.9112665684831,434.09241531664213 876,425 C 922.0887334315169,415.90758468335787 975.4085051546392,415.8981958762887 1047,404 C 1118.5914948453608,392.1018041237113 1208.4547128129602,368.3148011782032 1277,369 C 1345.5452871870398,369.6851988217968 1392.77264359352,394.8425994108984 1440,420 C 1440,420 1440,700 1440,700 Z");
                  }
                }
            </style>
            <defs><linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%"><stop offset="5%" stop-color="#F78DA7"></stop><stop offset="95%" stop-color="#8ED1FC"></stop></linearGradient></defs><path d="M 0,700 C 0,700 0,420 0,420 C 55.16550073637703,392.8068851251841 110.33100147275405,365.61377025036825 168,373 C 225.66899852724595,380.38622974963175 285.8414948453607,422.3518041237113 341,425 C 396.1585051546393,427.6481958762887 446.30301914580275,390.9790132547865 514,392 C 581.6969808541972,393.0209867452135 666.9464285714284,431.7321428571429 729,442 C 791.0535714285716,452.2678571428571 829.9112665684831,434.09241531664213 876,425 C 922.0887334315169,415.90758468335787 975.4085051546392,415.8981958762887 1047,404 C 1118.5914948453608,392.1018041237113 1208.4547128129602,368.3148011782032 1277,369 C 1345.5452871870398,369.6851988217968 1392.77264359352,394.8425994108984 1440,420 C 1440,420 1440,700 1440,700 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="0.53" class="transition-all duration-300 ease-in-out delay-150 path-2"></path>
                <style>
                .path-3{
                  animation:pathAnim-3 4s;
                  animation-timing-function: linear;
                  animation-iteration-count: infinite;
                }
                @keyframes pathAnim-3{
                  0%{
                    d: path("M 0,700 C 0,700 0,560 0,560 C 76.40850515463919,539.6054860088366 152.81701030927837,519.210972017673 207,533 C 261.1829896907216,546.789027982327 293.1404639175258,594.7615979381444 340,603 C 386.8595360824742,611.2384020618556 448.62113402061857,579.7426362297496 508,572 C 567.3788659793814,564.2573637702504 624.3749999999999,580.2678571428571 687,589 C 749.6250000000001,597.7321428571429 817.8788659793815,599.1859351988218 875,589 C 932.1211340206185,578.8140648011782 978.109536082474,556.9884020618556 1049,555 C 1119.890463917526,553.0115979381444 1215.6829896907218,570.8604565537555 1285,575 C 1354.3170103092782,579.1395434462445 1397.158505154639,569.5697717231222 1440,560 C 1440,560 1440,700 1440,700 Z");
                  }
                  25%{
                    d: path("M 0,700 C 0,700 0,560 0,560 C 48.359536082474236,541.3028350515464 96.71907216494847,522.6056701030927 158,518 C 219.28092783505153,513.3943298969073 293.4832474226804,522.8801546391753 363,542 C 432.5167525773196,561.1198453608247 497.34793814433,589.8737113402062 562,601 C 626.65206185567,612.1262886597938 691.1249999999999,605.625 739,605 C 786.8750000000001,604.375 818.1520618556702,609.6262886597938 870,600 C 921.8479381443298,590.3737113402062 994.2667525773195,565.8698453608248 1066,559 C 1137.7332474226805,552.1301546391752 1208.7809278350517,562.8943298969073 1271,566 C 1333.2190721649483,569.1056701030927 1386.6095360824743,564.5528350515464 1440,560 C 1440,560 1440,700 1440,700 Z");
                  }
                  50%{
                    d: path("M 0,700 C 0,700 0,560 0,560 C 66.18611929307806,587.3880706921944 132.37223858615613,614.7761413843889 192,606 C 251.62776141384387,597.2238586156111 304.6971649484536,552.2835051546391 358,556 C 411.3028350515464,559.7164948453609 464.8391016200295,612.0898379970545 524,603 C 583.1608983799705,593.9101620029455 647.9464285714287,523.3571428571429 715,518 C 782.0535714285713,512.6428571428571 851.3751840942562,572.4815905743741 921,578 C 990.6248159057438,583.5184094256259 1060.5528350515465,534.7164948453608 1108,535 C 1155.4471649484535,535.2835051546392 1180.4134756995581,584.6524300441827 1232,597 C 1283.5865243004419,609.3475699558173 1361.793262150221,584.6737849779087 1440,560 C 1440,560 1440,700 1440,700 Z");
                  }
                  75%{
                    d: path("M 0,700 C 0,700 0,560 0,560 C 69.3768409425626,533.889911634757 138.7536818851252,507.779823269514 194,508 C 249.2463181148748,508.220176730486 290.3621134020619,534.770618556701 349,556 C 407.6378865979381,577.229381443299 483.79786450662743,593.1377025036818 546,598 C 608.2021354933726,602.8622974963182 656.4464285714286,596.6785714285714 714,599 C 771.5535714285714,601.3214285714286 838.4164212076583,612.1480117820325 896,589 C 953.5835787923417,565.8519882179675 1001.8878865979382,508.7293814432989 1068,509 C 1134.1121134020618,509.2706185567011 1218.032032400589,566.9344624447717 1283,585 C 1347.967967599411,603.0655375552283 1393.9839837997056,581.5327687776141 1440,560 C 1440,560 1440,700 1440,700 Z");
                  }
                  100%{
                    d: path("M 0,700 C 0,700 0,560 0,560 C 76.40850515463919,539.6054860088366 152.81701030927837,519.210972017673 207,533 C 261.1829896907216,546.789027982327 293.1404639175258,594.7615979381444 340,603 C 386.8595360824742,611.2384020618556 448.62113402061857,579.7426362297496 508,572 C 567.3788659793814,564.2573637702504 624.3749999999999,580.2678571428571 687,589 C 749.6250000000001,597.7321428571429 817.8788659793815,599.1859351988218 875,589 C 932.1211340206185,578.8140648011782 978.109536082474,556.9884020618556 1049,555 C 1119.890463917526,553.0115979381444 1215.6829896907218,570.8604565537555 1285,575 C 1354.3170103092782,579.1395434462445 1397.158505154639,569.5697717231222 1440,560 C 1440,560 1440,700 1440,700 Z");
                  }
            
                }
            </style>
            <defs><linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%"><stop offset="5%" stop-color="#F78DA7"></stop><stop offset="95%" stop-color="#8ED1FC"></stop></linearGradient></defs><path d="M 0,700 C 0,700 0,560 0,560 C 76.40850515463919,539.6054860088366 152.81701030927837,519.210972017673 207,533 C 261.1829896907216,546.789027982327 293.1404639175258,594.7615979381444 340,603 C 386.8595360824742,611.2384020618556 448.62113402061857,579.7426362297496 508,572 C 567.3788659793814,564.2573637702504 624.3749999999999,580.2678571428571 687,589 C 749.6250000000001,597.7321428571429 817.8788659793815,599.1859351988218 875,589 C 932.1211340206185,578.8140648011782 978.109536082474,556.9884020618556 1049,555 C 1119.890463917526,553.0115979381444 1215.6829896907218,570.8604565537555 1285,575 C 1354.3170103092782,579.1395434462445 1397.158505154639,569.5697717231222 1440,560 C 1440,560 1440,700 1440,700 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-3"></path>
            </svg>
        </div> -->
        
        <div class="box" id="heading">

            <h1> <%= listTitle %> </h1>
        </div>
        <div class="box">   
            <% for (var i=0; i<newListItem.length; i++) { %>
                <div class="item">
                    <input type="checkbox">
                    <p> <%= newListItem[i] %> </p>
                </div> 
            <% } %>
            <form  action="/" method="post">
                <input class="item" type="text" name="newItem" placeholder="Add Item" autocomplete="off">
                <button type="submit" name="list" value=<%= listTitle %>>Add Item</button>
            </form>
        </div>
    </div>

    <%- include("footer") -%>